spring:
  profiles:
    active: local
  batch:
    job:
      names: ${job.name:NONE} # --job.name={batchName}
      #names: batchJob1 # ??? ?? ??? batch name ?? ??
      #enabled: false # Spring boot ? batch ? ?? ?? ??
    #jdbc:
    #  initialize-schema: always
    #  table-prefix: SYSTEM_

---

spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: org.h2.Driver
  batch:
    jdbc:
      initialize-schema: embedded
